@model IEnumerable<finalproject.Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.refCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomcatg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.refCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomcatg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.refCat }) |
            @Html.ActionLink("Details", "Details", new { id = item.refCat }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.refCat })
        </td>
    </tr>
}

</table>
